.jumbotron {
    background-color: #eeec90;
}

#produk,
#kontak {
    background-color: #eeec90;
}

section {
    padding-top: 5rem;
}

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    transition: .03s;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
}

.overlay img {
    padding-top: 5px;
    max-height: 600px;
}